﻿<div class="menu">
    <ul>
        <li>
            <a class="{{$ctrl.status.Home}}" ng-click="$ctrl.select('Home')" href="/">
                <div class="hm">
                    <i class="home1"></i>
                    <i class="home2"></i>
                </div>
            </a>
        </li>
        <li>
            <a class="{{$ctrl.status.Films}}" ng-click="$ctrl.select('Films')" href="/#!/films">
                <div class="cat">
                    <i class="watching"></i>
                    <i class="watching1"></i>
                </div>
            </a>
        </li>
        <li ng-if="$ctrl.hasCookie()">
            <a class="{{$ctrl.status.Tickets}}" ng-click="$ctrl.select('Tickets')" href="/#!/tickets">
                <div class="bk">
                    <i class="booking">
                    </i><i class="booking1"></i>
                </div>
            </a>
        </li>
        <li ng-if="$ctrl.hasCookie()">
            <a class="{{$ctrl.status.Profile}}" ng-click="$ctrl.select('Profile')" href="/#!/profile">
                <div class="cat">
                    <i class="user"></i><i class="user1"></i>
                </div>
            </a>
        </li>
        <li ng-if="!$ctrl.hasCookie()">
            <a class="{{$ctrl.status.Login}}" ng-click="$ctrl.select('Login')" href="/#!/login">
                <div class="cat">
                    <i class="login"></i><i class="login1"></i>
                </div>
            </a>
        </li>
        <li ng-if="$ctrl.hasCookie()">
            <a style="cursor: pointer" ng-click="$ctrl.logout()">
                <div class="cat">
                    <i class="logout"></i><i class="logout1"></i>
                </div>
            </a>
        </li>
        <li ng-if="!$ctrl.hasCookie()">
            <a class="{{$ctrl.status.Register}}" ng-click="$ctrl.select('Register')" href="/#!/register">
                <div class="cat">
                    <i class="register"></i><i class="register1"></i>
                </div>
            </a>
        </li>
        <li ng-if="$ctrl.hasCookie() && $ctrl.adminPage">
            <a class="{{$ctrl.status.Admin}}" ng-click="$ctrl.select('Admin')" href="/admin/#!">
                <div class="cat">
                    <i class="admin"></i><i class="admin1"></i>
                </div>
            </a>
        </li>
    </ul>
</div>