﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-if="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-if="detailsPage && !item.IsDeleted && page !== 'calendar'"
               href="/admin/#!/ticket/edit/{{item.TicketId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-default"
               ng-if="detailsPage && !item.IsDeleted && page === 'calendar'"
               href="/admin/#!/ticket/edit/{{item.TicketId}}?page=calendar">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-if="detailsPage && item.IsDeleted"
               ng-click="delete()">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-default"
               ng-if="(createPage || detailsPage) && page !== 'calendar'"
               href="/admin/#!/ticket/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-if="(createPage || detailsPage) && page === 'calendar'"
               href="/admin/#!/ticket/calendar">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-if="editPage && page !== 'calendar'"
               href="/admin/#!/ticket/details/{{item.TicketId}}"><i class="fa fa-reply"></i></a>
            <a class="btn btn-default"
               ng-if="editPage && page === 'calendar'"
               href="/admin/#!/ticket/details/{{item.TicketId}}?page=calendar"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group" ng-if="detailsPage">
                <label class="control-label col-sm-2">Mã vé</label>
                <div class="col-md-8">
                    <p class="text-form">{{item.Code}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Phòng</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage && page !== 'calendar'" ng-model="item.RoomId"
                                      srouce="roomSrouce" ng-change="loadTimeAndSeatType()"></select-extension>
                    <p class="text-form" ng-if="detailsPage || page === 'calendar'">{{item.RoomId | getTitle: roomSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.RoomId']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Thời gian chiếu</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage && page !== 'calendar'" ng-model="item.TimeId"
                                      srouce="timeSrouce" ng-change="loadDate()"></select-extension>
                    <p ng-if="detailsPage || page === 'calendar'" class="text-form">{{item.TimeId | getTitle: timeSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.TimeId']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ngày chiếu</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage && page !== 'calendar'" ng-model="item.Date"
                                      srouce="dateSrouce" ng-change="loadFilm()"></select-extension>
                    <p class="text-form" ng-if="detailsPage || page === 'calendar'">{{item.Date | date: 'dd/MM/yyyy'}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.Date']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Phim</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage && page !== 'calendar'" ng-model="item.FilmId"
                                      srouce="filmSrouce"></select-extension>
                    <p class="text-form" ng-if="detailsPage || page === 'calendar'">{{item.FilmId | getTitle: filmSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.FilmId']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Loại ghế</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage"
                                      ng-model="item.SeatTypeId"
                                      srouce="seatTypeSrouce"></select-extension>
                    <p class="text-form"
                       ng-if="detailsPage">{{item.SeatTypeId | getTitle: seatTypeSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.SeatTypeId']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Giá</label>
                <div class="col-md-7" ng-if="!detailsPage">
                    <input type="number"
                           class="form-control"
                           placeholder="Giá vé"
                           ng-model="item.Price">
                    <p style="color:red" ng-repeat="m in msg['model.Price']">{{m}}</p>
                </div>
                <div class="col-md-1" ng-if="!detailsPage">
                    <p class="text-form">đồng</p>
                </div>
                <div class="col-md-2" ng-if="detailsPage">
                    <p class="text-form">{{item.Price}} đồng</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Số lượng</label>
                <div class="col-md-7" ng-if="!detailsPage">
                    <input type="number"
                           class="form-control"
                           placeholder="Số lượng"
                           ng-model="item.Quantity">
                    <p style="color:red" ng-repeat="m in msg['model.Quantity']">{{m}}</p>
                </div>
                <div class="col-md-1" ng-if="!detailsPage">
                    <p class="text-form">vé</p>
                </div>
                <div class="col-md-2" ng-if="detailsPage">
                    <p class="text-form">{{item.Quantity}} vé</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ngày bắt đầu bán</label>
                <div class="col-md-8">
                    <input ng-if="!detailsPage" type="date"
                           class="form-control" ng-model="item.PublishedAt">
                    <p class="text-form" ng-if="detailsPage">{{item.PublishedAt | date: 'dd/MM/yyyy'}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.PublishedAt']">{{m}}</p>
                </div>
            </div>
        </div>
    </div>
</container>
