﻿<div class="contact-content">
    <div class="top-header span_top">
        <header></header>
    </div>
    <!---contact-->
    <div class="main-contact">
        <h3 class="head">Thông tin cá nhân</h3>
        <p>Biết về bạn nhiều hơn thì phục vụ bạn tốt hơn</p>
        <div class="contact-form" style="margin-top: 20px">
            <div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <img style="width: 100%" src="/Content/images/f5.jpg" />
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div style="margin-bottom: 1.5em">
                        <p ng-if="profilePage" class="text-center contact-form-section">Thông tin người dùng</p>
                        <p ng-if="editProfilePage" class="text-center contact-form-section">Sửa thông tin cá nhân</p>
                        <p ng-if="editPasswordPage" class="text-center contact-form-section">Sửa mật khẩu</p>
                        <div class="clearfix"></div>
                    </div>
                    <input ng-if="editPasswordPage" ng-model="item.OldPassword" type="password" placeholder="Mật khẩu cũ">
                    <input ng-if="editPasswordPage" ng-model="item.Password" type="password" placeholder="Mật khẩu">
                    <input ng-if="editPasswordPage" ng-model="item.ConfirmPassword" type="password" placeholder="Xác nhận mật khẩu">
                    <input ng-if="editProfilePage" ng-model="item.FullName" type="text" placeholder="Tên">
                    <p style="margin-top: 20px" ng-if="profilePage">{{item.FullName}}</p>
                    <select ng-if="editProfilePage" ng-model="item.Gender">
                        <option value="">Chọn giới tính</option>
                        <option value="true">Nam</option>
                        <option value="false">Nữ</option>
                    </select>
                    <p style="margin-top: 20px" ng-if="profilePage">{{item.Nam}}</p>
                    <input ng-if="editProfilePage && item.DateOfBirth == null" ng-model="item.DateOfBirth" type="text"
                           onfocus=" (this.type = 'date') " onblur=" (this.type = 'text') " placeholder="Ngày sinh">
                    <input ng-if="editProfilePage && item.DateOfBirth != null" ng-model="item.DateOfBirth" type="date">
                    <p style="margin-top: 20px" ng-if="profilePage">{{item.DateOfBirth | date: 'dd/MM/yyyy'}}</p>
                    <textarea style="margin-bottom: 0" ng-if="editProfilePage" ng-model="item.Address" placeholder="Địa chỉ"></textarea>
                    <p style="margin-top: 20px" ng-if="profilePage">{{item.Address}}</p>
                    <input ng-if="editProfilePage" ng-model="item.Phone" type="tel" placeholder="Số điện thoại">
                    <p style="margin-top: 20px" ng-if="profilePage">{{item.Phone}}</p>
                    <input ng-if="editProfilePage" ng-model="item.Email" type="email" placeholder="Email">
                    <p style="margin-top: 20px" ng-if="profilePage">{{item.Email}}</p>
                    <div style="margin-top: 20px">
                        <input ng-if="profilePage" type="submit" ng-click="editProfile()" value="Sửa thông tin" />
                        <input ng-if="profilePage" type="submit" ng-click="editPassword()" value="Sửa mật khẩu" />
                        <input ng-if="!profilePage" ng-click="save()" type="submit" value="Lưu" />
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>