﻿<div class="error-content">
    <div class="top-header span_top">
        <header></header>
    </div>
    <div class="error-404 text-center">
        <h2>500</h2>
        <p>Bạn không có quyền truy cập chức năng</p>
        <a class="b-home" href="/">Về trang chủ</a>
    </div>
    <footer></footer>
</div>