﻿<div class="contact-content">
    <div class="top-header span_top">
        <header></header>
    </div>
    <!---contact-->
    <div class="main-contact">
        <h3 class="head">ĐĂNG NHẬP</h3>
        <p>Bạn có thể nhận nhiều dịch vụ hơn nếu đăng nhập</p>
        <div class="contact-form" style="margin-top: 20px">
            <div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <input type="text" ng-model="userName" placeholder="Tên tài khoản">
                        <input type="password" ng-model="password" placeholder="Mật khẩu">
                    </div>
                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-6">
                            <input type="submit" ng-click="login()" value="Đăng nhập">
                        </div>
                        <div class="col-md-6 text-center" style="padding-top: 13px;">
                            <input type="checkbox"> Ghi nhớ người dùng
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>