﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-show="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-show="detailsPage"
               href="/admin/#!/seat-type/edit/{{item.SeatTypeId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-show="detailsPage && item.isDeleted">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-default"
               ng-show="createPage || detailsPage"
               href="/admin/#!/seat-type/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-show="editPage"
               href="/admin/#!/seat-type/details/{{item.SeatTypeId}}">
                <i class="fa fa-reply"></i>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên</label>
                <div class="col-sm-8">
                    <input ng-show="!detailsPage" type="text" class="form-control" placeholder="Tên" ng-model="item.Name">
                    <p class="text-form" ng-show="detailsPage">{{item.Name}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.Name']">{{m}}</p>
                </div>
            </div>
        </div>
    </div>
</container>