﻿<div class="page-title">
    <div class="title_left" style="width: 100%">
        <h3>Báo cáo chung</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="col-md-9">
                    <h2>
                        <i class="fa fa-dashboard"></i> Bảng báo cáo hóa đơn
                    </h2>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content text-center">
                <iframe width="842" height="500" src="http://localhost/ReportServer/Pages/ReportViewer.aspx?%2fSEA.CNM.Reports%2fBillReport&rs:Command=Render"></iframe>
            </div>
        </div>
    </div>
</div>