﻿<div class="review-slider">
    <div class="nbs-flexisel-container">
        <div class="nbs-flexisel-inner">
            <ul id="flexiselDemo1" class="nbs-flexisel-ul" style="left: -198.667px; display: block;">
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r1.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r2.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r3.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r4.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r5.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r6.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r1.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r2.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r3.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r4.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r5.jpg" alt=""></li>
                <li class="nbs-flexisel-item" style="width: 198.667px;"><img src="/Content/images/r6.jpg" alt=""></li>
            </ul>
            <div class="nbs-flexisel-nav-left" style="top: 135px;"></div>
            <div class="nbs-flexisel-nav-right" style="top: 135px;"></div>
        </div>
    </div>
</div>