﻿<div class="error-content">
    <div class="top-header span_top">
        <header></header>
    </div>
    <div class="error-404 text-center">
        <h2>404</h2>
        <p>Sorry this was unexpected</p>
        <a class="b-home" href="index.html">Back to Home</a>
    </div>
    <footer></footer>
</div>