﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="fa fa-list"></i> Danh sách nghệ sĩ</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-show="!filter.IsDeleted"
               href="/admin/#!/artist/create"><i class="fa fa-plus"></i></a>
            <trash-condition ng-model="filter.IsDeleted"
                             ng-click="loadPage()"></trash-condition>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_title">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <input class="form-control"
                   ng-model="filter.SearchText"
                   ng-enter="loadPage()"
                   placeholder="Tìm kiếm ..." />
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Ảnh </th>
                    <th>Thông tin</th>
                    <th colspan="2" class="col-md-1 text-center">Công cụ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="items.length != 0" ng-repeat="item in items">
                    <td class="col-md-2">
                        <img class="img-thumbnail" ng-src="{{item.Avatar}}" />
                    </td>
                    <td>
                        <p>Tên: {{item.FullName}}</p>
                        <p>Giới tính: {{item.Gender | getTitle: genderSrouce}}</p>
                        <p>Ngày sinh: {{item.DateOfBirth | date : 'dd/MM/yyyy' }}</p>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" href="/admin/#!/artist/details/{{item.ArtistId}}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" ng-click="changeStatus(item.ArtistId)">
                            <i ng-if="filter.IsDeleted" class="fa fa-reply"></i>
                            <i ng-if="!filter.IsDeleted" class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="items.length == 0">
                    <td colspan="10" class="text-center">Không có bảng ghi</td>
                </tr>
            </tbody>
        </table>
        <page-btn page-info="pageInfo"
                  load-page="loadPage"
                  ng-model="filter.Page"></page-btn>
    </div>
</container>