﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success" href="/admin/#!/room/create"><i class="fa fa-plus"></i></a>
            <trash-condition ng-model="filter.IsDeleted"
                             ng-click="loadPage()"></trash-condition>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_title">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <input class="form-control"
                   ng-model="filter.searchText"
                   placeholder="Tìm kiếm  ..."
                   ng-enter="loadPage()"/>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã Phòng </th>
                    <th colspan="2" class="col-md-1 text-center">Công cụ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>
                        {{item.Code}}
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" href="/admin/#!/room/details/{{item.RoomId}}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer"
                           ng-click="changeStatus(item.RoomId)">
                            <i ng-show="filter.IsDeleted" class="fa fa-reply"></i>
                            <i ng-show="!filter.IsDeleted" class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="items.length == 0">
                    <td colspan="10" class="text-center">Không có bảng ghi</td>
                </tr>
            </tbody>
        </table>
        <page-btn page-info="pageInfo"
                  load-page="loadPage"
                  ng-model="filter.Page"></page-btn>
    </div>
</container>