﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-show="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-show="detailsPage && !item.IsDeleted"
               href="/admin/#!/time/edit/{{item.TimeId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-show="detailsPage && item.IsDeleted"
               ng-click="delete()">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-default"
               ng-show="createPage || detailsPage"
               href="/admin/#!/time/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-show="editPage"
               href="/admin/#!/time/details/{{item.TimeId}}"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Thời gian bắt đầu</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           ng-model="item.BeginAt"
                           type="time"
                           class="form-control"
                           placeholder="Thời gian bắt đầu">
                    <p class="text-form" ng-show="detailsPage">{{item.BeginAt | date: "HH:mm:ss"}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.BeginAt']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Thời gian kết thúc</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           ng-model="item.EndAt"
                           type="time"
                           class="form-control"
                           placeholder="Thời gian kết thúc">
                    <p class="text-form" ng-show="detailsPage">{{item.EndAt | date: "HH:mm:ss"}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.EndAt']">{{m}}</p>
                </div>
            </div>
        </div>
    </div>
</container>