﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom Theme files -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/Content/js/jquery.flexisel.js"></script>
</head>
<body ng-app="app">
    <!-- header-section-starts -->
<div class="full">
    <menu style="margin: 0px"></menu>
    <div class="main">
        <ng-view></ng-view>
    </div>
</div>
    <div class="clearfix"></div>
    <!-- Angular -->
    @Scripts.Render("~/bundles/angular")
    <!-- App -->
    @Scripts.Render("~/App")
</body>
</html>