﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-if="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-if="detailsPage && !item.IsDeleted"
               href="/admin/#!/role/edit/{{item.RoleId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-if="detailsPage && item.IsDeleted"
               ng-click="delete()">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-default"
               ng-if="createPage || detailsPage"
               href="/admin/#!/role/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-if="editPage"
               href="/admin/#!/role/details/{{item.RoleId}}"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên </label>
                <div class="col-md-8">
                    <input ng-if="!detailsPage" type="text" class="form-control" placeholder="Tên" ng-model="item.Name">
                    <p class="text-form" ng-if="detailsPage">{{item.Name}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Loại quyền</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage"
                                      ng-model="item.RoleType"
                                      srouce="roleTypeSrouce"></select-extension>
                    <p class="text-form" ng-if="detailsPage">{{item.RoleType | getTitle: roleTypeSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.RoleType']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Miêu tả</label>
                <div class="col-md-8">
                    <simple-ckeditor ng-if="!detailsPage"
                                     ng-model="item.Description"></simple-ckeditor>
                    <div class="text-form"
                         ng-if="detailsPage"
                         ng-bind-html="item.Description | rawHtml "></div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Api</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage"
                                      ng-model="item.Apis"
                                      srouce="apiSrouce"
                                      multiple="apiSrouce.Multiple"
                                      search-box="true"></select-extension>
                    <p class="text-form" ng-if="detailsPage">{{item.Apis | getTitle: apiSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.Apis']">{{m}}</p>
                </div>
            </div>
        </div>
    </div>
</container>