﻿<container>
    <div class="reviews-section">
        <h3 class="head">Lịch sử mua</h3>
        <div class="col-md-9 reviews-grids" style="margin-top: 20px">
            <div ng-show="!loadSuccess" style="text-align: center; margin-top: 17%;">
                <img src="http://localhost:52005/Content/ajax-loader.gif" />
            </div>
            <div ng-show="loadSuccess" class="review">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ngày mua</th>
                            <th>Tổng tiền</th>
                            <th>Vé</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="items.length != 0" ng-repeat="item in items">
                            <td>{{item.CreatedAt | date: 'dd/MM/yyyy'}}</td>
                            <td>{{item.TotalPrice.formatMoney(0)}} đ</td>
                            <td>
                                <p ng-repeat="ticket in item.TicketInfos" style="padding-bottom: 5px; border-bottom: solid 1px #ddd;">
                                    <span>- Phim: {{ticket.FilmName}}</span><br />
                                    <span>- Thời gian: Ngày {{ticket.ScheduleDate | date : 'dd/MM/yyyy'}} - Từ {{ticket.BeginWatch | date : 'HH:mm:ss'}} đến {{ticket.EndWatch | date : 'HH:mm:ss'}}</span><br />
                                    <span>- Đại điểm: Phòng {{ticket.RoomCode}} - Phòng {{ticket.SeatTypeName}}</span><br />
                                    <span>- Số lượng: {{ticket.Quantity}} vé</span><br />
                                    <span>- Tiền: {{ticket.Quantity}} x {{ticket.Price.formatMoney(0)}} đ = {{(ticket.Quantity * ticket.Price).formatMoney(0)}} đ</span><br />
                                </p>
                            </td>
                        </tr>
                        <tr ng-if="items.length == 0">
                            <td class="text-center" colspan="3">Bạn chưa mua bất cứ vé nào</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 side-bar">
            <div class="featured">
                <style>
                    .side-bar-input{
                        width: 100%;
                        padding: 5px 10px;
                        border: 1px solid #000;
                        margin-bottom: 1.5em;
                        color: #000;
                    }
                </style>
                <h3>
                    Lọc phim
                </h3>
                <div>
                    <div style="margin-bottom: 1.5em;">
                        <select-extension srouce="filmSrouce"
                                          ng-model="filter.filmIds"
                                          search-box="true">
                        </select-extension>
                    </div>
                    <input class="side-bar-input"
                           onfocus="(this.type = 'date')" onblur="(this.type = 'text')"
                           type="text" placeholder="Mua từ ngày"
                           style="line-height: 18px !important" />
                    <input class="side-bar-input"
                           onfocus=" (this.type = 'date') " onblur=" (this.type = 'text') "
                           type="text" placeholder="Mua đến ngày"
                           style="line-height: 18px !important" />

                    <a style="display: block; cursor: pointer; border: solid 1px #000; text-align: center; background: #37a4c5; color: #fff; text-transform: uppercase; padding: 5px 0px;"
                       ng-click="loadPage()">Lọc Phim</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="might">
                <h4>You might also like</h4>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi1.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi2.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi3.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</container>