﻿<div ng-if="$ctrl.pageInfo.TotalCount != 0">
    <div class="dataTables_paginate">
        <ul class="pagination" style="margin-top: 0; margin-bottom: 0;">
            <!--<li ng-if="$ctrl.pageInfo.BeforePage === $ctrl.pageInfo.FirstDisplayPage"
                class="paginate_button previous disabled"><a style="cursor: pointer">Trước</a></li>
            <li ng-if="$ctrl.pageInfo.BeforePage !== $ctrl.pageInfo.FirstDisplayPage"
                class="paginate_button previous"><a style="cursor: pointer">Trước</a></li>-->
            <li ng-repeat="page in $ctrl.range()"
                class="paginate_button {{page == $ctrl.ngModel ? 'active' : ''}}">
                <a style="cursor: pointer"
                   ng-click="$ctrl.loadPage(page)">{{page}}</a>
            </li>
            <!--<li ng-if="$ctrl.pageInfo.NextPage === $ctrl.pageInfo.LastDisplayPage"
                class="paginate_button next disabled"><a href="#">Sau</a></li>
            <li ng-if="$ctrl.pageInfo.NextPage !== $ctrl.pageInfo.LastDisplayPage"
                class="paginate_button next"><a href="#">Sau</a></li>-->
        </ul>
    </div>
</div>