﻿<container>
    <div class="reviews-section">
        <h3 class="head">{{item.FilmName}}</h3>
        <div class="col-md-9 reviews-grids">
            <div class="review">
                <div class="movie-pic">
                    <a href="/#!/films/{{item.FilmId}}"><img ng-src="{{item.Avatar}}" alt="{{item.FilmName}}"></a>
                </div>
                <div class="review-info">
                    <a class="span" href="/#!/films/{{item.FilmId}}">{{item.FilmName}}</a>
                    <p class="dirctr">
                        Tại rạp CINEMA XXII
                    </p>
                    <div class="clearfix"></div>
                    <style>
                        .list-film tr {
                            vertical-align: top !important;
                        }

                            .list-film tr td {
                                padding-top: 10px;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                    </style>
                    <table class="list-film">
                        <tr>
                            <td style="width: 100px">
                                DIỄN VIÊN
                            </td>
                            <td>:</td>
                            <td>
                                {{item.ActorNames.join(', ') }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ĐẠO DIỄN
                            </td>
                            <td> : </td>
                            <td>{{item.DirectorNames.join(', ') }}</td>
                        </tr>
                        <tr>
                            <td>
                                THỂ LOẠI
                            </td>
                            <td> : </td>
                            <td>{{item.FieldNames.join(', ') }}</td>
                        </tr>
                        <tr>
                            <td>
                                THỜI LƯƠNG
                            </td>
                            <td> : </td>
                            <td>{{item.Hour}} giờ {{item.Minute}} phút</td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="best-review">
                <h4>Danh sách vé</h4>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Mã vé</th>
                            <th>Ngày</th>
                            <th>Phòng</th>
                            <th>Ghế</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th class="col-md-1 text-center">Công cụ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ticket in item.Tickets">
                            <td>{{ticket.TicketCode}}</td>
                            <td>{{ticket.Date | date: 'dd/MM/yyyy'}}</td>
                            <td>{{ticket.RoomCode}}</td>
                            <td>{{ticket.SeatTypeName}}</td>
                            <td>{{ticket.Price.formatMoney(0)}}</td>
                            <td>{{ticket.Quantity}} vé</td>
                            <td class="text-center">
                                <a ng-click="addTicketInCard(ticket.TicketId)" style="cursor: pointer">+</a> |
                                <a ng-click="removeTicketInCard(ticket.TicketId)" style="cursor: pointer">-</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="story-review">
                <h4>REVIEW:</h4>
                <div ng-bind-html="item.Review | rawHtml"></div>
            </div>
            <style>
                .trailer iframe {
                    width: 100%;
                    height: 400px;
                }
            </style>
            <div class="story-review">
                <h4>TRAILER:</h4>
                <div class="trailer" ng-bind-html="item.LinkReview | rawHtml"></div>
            </div>
        </div>
        <div class="col-md-3 side-bar">
            <div class="featured">
                <h3>Featured Today in Movie Reviews</h3>
                <ul>
                    <li>
                        <a href="single.html"><img src="/Content/images/f1.jpg" alt=""></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single.html"><img src="/Content/images/f2.jpg" alt=""></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single.html"><img src="/Content/images/f3.jpg" alt=""></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single.html"><img src="/Content/images/f4.jpg" alt=""></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single.html"><img src="/Content/images/f5.jpg" alt=""></a>
                        <p>lorem movie review</p>
                    </li>
                    <li>
                        <a href="single.html"><img src="/Content/images/f6.jpg" alt=""></a>
                        <p>lorem movie review</p>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="entertainment">
                <h3>Giỏ hàng</h3>
                <table class="table table-condensed">
                    <tbody>
                        <tr ng-if="card.length !== 0" ng-repeat="ticket in card">
                            <td>{{ticket.Quantity}} x {{getTicketCode(ticket.TicketId)}}</td>
                            <td>{{getSum(ticket.TicketId, ticket.Quantity).formatMoney(0)}} đ</td>
                            <td>
                                <a ng-click="addTicketInCard(ticket.TicketId)" style="cursor: pointer">+</a> |
                                <a ng-click="removeTicketInCard(ticket.TicketId)" style="cursor: pointer">-</a>
                            </td>
                        </tr>
                        <tr ng-if="card.length !== 0">
                            <td>Tổng cộng</td>
                            <td>{{getSumAll().formatMoney(0)}} đ</td>
                            <td></td>
                        </tr>
                        <tr ng-if="card.length === 0">
                            <td class="text-center ">Không có vé giỏ hàng</td>
                        </tr>
                    </tbody>
                </table>
                <a ng-if="card.length !== 0"
                   style="text-decoration: none; color: #fff; background: #37a4c5; padding: 5px 10px; cursor: pointer"
                   ng-click="checkOut()">Mua</a>
            </div>
            <div class="might">
                <h4>You might also like</h4>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi1.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi2.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi3.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
</container>