﻿<div class="error-content">
    <div class="top-header span_top">
    </div>
    <div class="error-404 text-center">
        <h2>400</h2>
        <p>Có lỗi xẩy ra bởi hệ thống khi thực hiện chức năng</p>
        <a class="b-home" href="/">Về trang chủ</a>
    </div>
</div>