﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-if="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-if="detailsPage && !item.IsDeleted"
               href="/admin/#!/bill/edit/{{item.BillId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-if="detailsPage && item.IsDeleted">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-default"
               ng-if="createPage || detailsPage"
               href="/admin/#!/bill/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-if="editPage"
               href="/admin/#!/bill/details/{{item.BillId}}"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Khách hàng</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage"
                                      ng-model="item.UserId"
                                      srouce="userSrouce"></select-extension>
                    <p class="text-form"
                       ng-if="detailsPage && item.UserName != null">Tài khoản: {{item.UserId | getTitle: userSrouce}}</p>
                    <p class="text-form" ng-if="detailsPage && item.UserName == null">Người dùng không thuộc hệ thống</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Danh sách vé</label>
                <div class="col-md-8">
                    <list-object ng-if="!detailsPage" ng-model="item.Tickets"
                                 config="ticketConfig" ng-add="getPrice()" ng-remove="getPrice()"></list-object>
                    <p style="color:red" ng-repeat="m in msg['model.Tickets']">{{m}}</p>
                    <table ng-if="detailsPage"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Vé</th>
                            <th>Số lượng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in item.Tickets">
                            <td>{{row.TicketId | getTitle: ticketSrouce}}</td>
                            <td>{{row.Quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div ng-if="item.Price != undefined && item.Price != 0" class="form-group">
                <label class="control-label col-md-2">Tổng số tiền</label>
                <p class="text-form">{{item.Price | number}} đồng</p>
            </div>
        </div>
    </div>
</container>