﻿<div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="/" class="site_title"><i class="fa fa-globe"></i> <span>CINEMA XXII</span></a>
    </div>
    <div class="clearfix"></div>
    <!-- menu profile quick info -->
    <div class="profile">
        <div class="profile_pic">
            <img ng-src="{{$ctrl.profile.Avatar}}" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Xin chào,</span>
            <h2>{{$ctrl.profile.FullName}}</h2>
        </div>
    </div>
    <!-- /menu profile quick info -->
    <br />
    <!-- sidebar menu -->
    <div class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Danh mục</h3>
            <ul class="nav side-menu">
                <li ng-if="$ctrl.showParent(element.elements)" ng-repeat="element in $ctrl.sidebarMenu" class="{{element.isShown ? 'active' : ''}}">
                    <a ng-click="$ctrl.showOrHide(element.title)"><i class="{{element.icon}}"></i> {{element.title}} <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="{{element.isShown ? 'display: block;' : ''}}">
                        <li class="{{e.isCurrentPage ? 'current-page' : ''}}" ng-show="e.isDisplayed" ng-repeat="e in element.elements">
                            <a ng-if="e.isDisplayed" href="{{'/admin/#!/' + e.controller + '/index'}}">{{e.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
</div>