﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-show="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-show="detailsPage && !item.IsDeleted"
               href="/admin/#!/room/edit/{{item.RoomId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-show="detailsPage && item.IsDeleted"
               ng-click="delete()">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-default"
               ng-show="createPage || detailsPage"
               href="/admin/#!/room/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-show="editPage"
               href="/admin/#!/room/details/{{item.RoomId}}"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Mã</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="text"
                           class="form-control" 
                           placeholder="Mã phòng" ng-model="item.Code">
                    <p class="text-form" ng-show="detailsPage">{{item.Code}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.Code']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Rộng</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="number"
                           class="form-control"
                           placeholder="Rộng (m x m)" ng-model="item.Large">
                    <p class="text-form" ng-show="detailsPage">{{item.Large}} m<sup>2</sup></p>
                    <p style="color:red" ng-repeat="m in msg['model.Large']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Sức chứa</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="number"
                           class="form-control"
                           placeholder="Sức chứa (người)" ng-model="item.Capacity">
                    <p class="text-form" ng-show="detailsPage">{{item.Capacity}} người</p>
                    <p style="color:red" ng-repeat="m in msg['model.Capactity']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Miêu tả</label>
                <div class="col-md-8">
                    <simple-ckeditor ng-show="!detailsPage"
                                     ng-model="item.Description"></simple-ckeditor>
                    <div class="text-form"
                         ng-show="detailsPage"
                         ng-bind-html="item.Description | rawHtml "></div>
                    <p style="color:red" ng-repeat="m in msg['model.Description']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Danh sách ghế</label>
                <div class="col-md-8">
                    <list-object ng-show="!detailsPage"
                                 ng-model="item.Seats"
                                 config="seatConfig"></list-object>
                    <table ng-show="detailsPage"
                           class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Loại ghế</th>
                            <th>Số lượng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in item.Seats">
                            <td>{{row.SeatTypeId | getTitle: seatTypeSrouce}}</td>
                            <td>{{row.Quantity}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <p style="color:red" ng-repeat="m in msg['model.Seats']">{{m}}</p>
                </div>
            </div>
        </div>
    </div>
</container>