﻿<container>
    <div class="reviews-section">
        <h3 class="head">Danh sách phim</h3>
    <div class="col-md-9 reviews-grids">
        <div ng-show="!loadSuccess" style="text-align: center; margin-top: 17%;">
            <img src="http://localhost:52005/Content/ajax-loader.gif" />
        </div>
        <div ng-show="loadSuccess" class="review" ng-repeat="item in items">
            <div class="movie-pic">
                <a href="/#!/films/{{item.FilmId}}"><img ng-src="{{item.Avatar}}" alt="{{item.FilmName}}"></a>
            </div>
            <div class="review-info">
                <a class="span" href="/#!/films/{{item.FilmId}}">{{item.FilmName}}</a>
                <p class="dirctr">
                    Tại rạp CINEMA XXII
                </p>
                <div class="clearfix"></div>
                <style>
                    .list-film tr {
                        vertical-align: top !important;
                    }

                    .list-film tr td {
                        padding-top: 10px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                </style>
                <table class="list-film">
                    <tr>
                        <td style="width: 100px">
                            DIỄN VIÊN
                        </td>
                        <td> : </td>
                        <td>{{item.ActorIds | getTitle: actorSrouce }}</td>
                    </tr>
                    <tr>
                        <td>
                            ĐẠO DIỄN
                        </td>
                        <td> : </td>
                        <td>{{item.DirectorIds | getTitle: directorSrouce }}</td>
                    </tr>
                    <tr>
                        <td>
                            THỂ LOẠI
                        </td>
                        <td> : </td>
                        <td>{{item.FieldIds | getTitle: fieldSrouce }}</td>
                    </tr>
                    <tr>
                        <td>
                            THỜI LƯƠNG
                        </td>
                        <td> : </td>
                        <td>{{item.Hour}} giờ {{item.Minute}} phút</td>
                    </tr>
                </table>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
        <div class="col-md-3 side-bar">
            <div class="featured">
                <style>
                    .side-bar-input,
                    .side-bar-select {
                        width: 100%;
                        padding: 5px 10px;
                        border: 1px solid #000;
                        margin-bottom: 1.5em;
                        color: #000;
                    }
                </style>
                <h3>
                    Lọc phim
                </h3>
                <div>
                    <input class="side-bar-input" type="text" placeholder="Tên phim" />
                    <div style="margin-bottom: 1.5em;">
                        <select-extension srouce="fieldSrouce"
                                          ng-model="filter.fieldIds"
                                          multiple="true"
                                          search-box="true">
                        </select-extension>
                    </div>
                    <div style="margin-bottom: 1.5em;">
                        <select-extension srouce="directorSrouce"
                                          ng-model="filter.directorIds"
                                          multiple="true"
                                          search-box="true">
                        </select-extension>
                    </div>
                    <div style="margin-bottom: 1.5em;">
                        <select-extension srouce="actorSrouce"
                                          ng-model="filter.actorIds"
                                          multiple="true"
                                          search-box="true">
                        </select-extension>
                    </div>
                    <div style="margin-bottom: 1.5em;">
                        <select-extension srouce="timeSrouce"
                                          ng-model="filter.timeIds"
                                          multiple="true"
                                          search-box="true">
                        </select-extension>
                    </div>
                    <input class="side-bar-input"
                           onfocus=" (this.type = 'date') " onblur=" (this.type = 'text') "
                           type="text" placeholder="Ngày chiếu"
                           style="line-height: 18px !important"/>
                    <a style="    display: block; cursor: pointer;
    border: solid 1px #000;
    text-align: center;
    background: #37a4c5;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 0px;" ng-click="loadPage()">Lọc Phim</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="entertainment">
                <h3>Featured Today in Entertainment</h3>
                <ul>
                    <li class="ent">
                        <a href="single.html"><img src="/Content/images/f6.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="single.html">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single.html"><img src="/Content/images/f5.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="single.html">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single.html"><img src="/Content/images/f3.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="single.html">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single.html"><img src="/Content/images/f4.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="single.html">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single.html"><img src="/Content/images/f2.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="single.html">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
                <ul>
                    <li class="ent">
                        <a href="single.html"><img src="/Content/images/f1.jpg" alt=""></a>
                    </li>
                    <li>
                        <a href="single.html">Watch ‘Bombay Velvet’ trailer during WC match</a>

                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="might">
                <h4>You might also like</h4>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi1.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi2.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="might-grid">
                    <div class="grid-might">
                        <a href="single.html"><img src="/Content/images/mi3.jpg" class="img-responsive" alt=""> </a>
                    </div>
                    <div class="might-top">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="single.html">Lorem Ipsum <i> </i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</container>