﻿<table class="table table-bordered">
    <thead>
    <tr>
        <th ng-repeat="col in $ctrl.config.Cols">
            {{col.Title}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-repeat="col in $ctrl.config.Cols">
            <p ng-if="col.Type === 'Select'">
                <select-extension ng-model="$ctrl[col.Value]"
                                  srouce="col.Srouce"
                                  multiple="col.Srouce.Multiple"
                                  ng-change="col.OnChange()"></select-extension>
            </p>
            <p ng-if="col.Type !== 'Select'">
                <input class="form-control"
                       type="{{col.Type | lowercase}}"
                       ng-model="$ctrl[col.Value]"
                       placeholder="{{col.Placeholder}}" />
            </p>
        </td>
        <td class="col-md-1 text-center">
            <a class="btn btn-default" ng-click="$ctrl.Add()"><i class="fa fa-plus"></i></a>
        </td>
    </tr>
    <tr ng-repeat="row in $ctrl.ngModel">
        <td ng-repeat="col in $ctrl.config.Cols">
            <p ng-if="col.Type === 'Select'">{{$ctrl.displayTitle(row[col.Value], col.Srouce)}}</p>
            <p ng-if="col.Type !== 'Select'">{{row[col.Value]}}</p>
        </td>
        <th class="col-md-1 text-center">
            <a class="btn btn-default" ng-click="$ctrl.Remove(row)"><i class="fa fa-minus"></i></a>
        </th>
    </tr>
    </tbody>
</table>