﻿<div class="contact-content">
    <div class="top-header span_top">
        <header></header>
    </div>
    <!---contact-->
    <div class="main-contact">
        <h3 class="head">ĐĂNG KÝ</h3>
        <p>Đăng ký tài khoản để chúng tôi hỗ trợ bạn tốt hơn</p>
        <div class="contact-form" style="margin-top: 20px">
            <div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <input type="text" ng-model="item.UserName" placeholder="Tên tài khoản">
                        <input type="password" ng-model="item.Password" placeholder="Mật khẩu">
                        <input type="password" ng-model="item.ConfirmPassword" placeholder="Xác nhận mật khẩu">
                        <input type="text" ng-model="item.FullName" placeholder="Tên đầy đủ">
                        <input type="tel" ng-model="item.Phone" placeholder="Số điện thoại">
                        <input type="email" ng-model="item.Email" placeholder="Địa chỉ email">
                    </div>
                    <div class="row text-center">
                        <input style="margin-top: 20px" type="submit" ng-click="register()" value="Đăng ký">
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>