﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-if="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-if="detailsPage"
               href="/admin/#!/schedule/edit/{{item.ScheduleId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-if="detailsPage && item.isDeleted">
                <i class="fa fa-trash"
                   ng-click="delete()"></i>
            </a>
            <a class="btn btn-default"
               ng-if="createPage || detailsPage"
               href="/admin/#!/schedule/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-if="editPage"
               href="/admin/#!/schedule/details/{{item.ScheduleId}}"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Phim</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage"
                                      ng-model="item.FilmId"
                                      srouce="filmSrouce"></select-extension>
                    <p class="text-form" ng-if="detailsPage">{{item.FilmId | getTitle: filmSrouce }}</p>
                    <p style="color:red" ng-repeat="m in msg['model.FilmId']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Phòng</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage"
                                      ng-model="item.RoomId"
                                      srouce="roomSrouce"></select-extension>
                    <p class="text-form" ng-if="detailsPage">{{item.RoomId | getTitle: roomSrouce }}</p>
                    <p style="color:red" ng-repeat="m in msg['model.RoomId']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ngày chiếu</label>
                <div class="col-md-8">
                    <input class="form-control"
                           type="date"
                           ng-if="!detailsPage"
                           ng-model="item.Date" />
                    <p class="text-form" ng-if="detailsPage">{{item.Date | date: 'dd/MM/yyyy'}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.Date']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Thời gian chiếu</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage"
                                      ng-model="item.TimeId"
                                      srouce="timeSrouce"></select-extension>
                    <p ng-if="detailsPage" class="text-form">{{item.TimeId | getTitle: timeSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.TimeId']">{{m}}</p>
                </div>
            </div>
        </div>
    </div>
</container>
