﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success" href="/admin/#!/bill/create"><i class="fa fa-plus"></i></a>
            <trash-condition ng-model="filter.IsDeleted"
                             ng-click="loadPage()"></trash-condition>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_title">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <input class="form-control" ng-model="filter.SearchText" placeholder="Tìm kiếm  ..." />
        </div>
        <div class="col-md-3">
            <select-extension ng-model="filter.TicketIds"
                              srouce="ticketSrouce"
                              multiple="true">
            </select-extension>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Người dùng </th>
                    <th>Thông tin thanh toán </th>
                    <th colspan="2" class="col-md-1 text-center">Công cụ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td ng-show="item.UserName != null">
                        <p>Tên tài khoản: {{item.UserName}}</p>
                        <p>Tên người dùng: {{item.FullName}}</p>
                    </td>
                    <td ng-show="item.UserName == null">
                        <p>Người dùng không thuộc hệ thống</p>
                    </td>
                    <td>
                        <p>Tiền: {{item.Price | number}} đồng</p>
                        <p>Ngày mua: {{item.CreatedAt | date: 'dd/MM/yyyy'}}</p>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" href="/admin/#!/bill/details/{{item.BillId}}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" ng-click="changeStatus(item.BillId)">
                            <i ng-show="filter.IsDeleted" class="fa fa-reply"></i>
                            <i ng-show="!filter.IsDeleted" class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="items.length == 0">
                    <td colspan="10" class="text-center">Không có bảng ghi</td>
                </tr>
            </tbody>
        </table>
        <page-btn page-info="pageInfo"
                  load-page="loadPage"
                  ng-model="filter.Page"></page-btn>
    </div>
</container>