﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <a ng-if="indexPage" href="/admin/#!/ticket/calendar" style="cursor: pointer"><h2><i class="{{actionIcon}}"></i> {{action}}</h2></a>
            <a ng-if="calendarPage" href="/admin/#!/ticket/index" style="cursor: pointer"><h2><i class="{{actionIcon}}"></i> {{action}}</h2></a>
        </div>
        <div class="col-md-3 text-right">
            <a ng-if="indexPage" class="btn btn-success" href="/admin/#!/ticket/create"><i class="fa fa-plus"></i></a>
            <trash-condition ng-if="indexPage" ng-model="filter.IsDeleted"
                             ng-click="loadPage()"></trash-condition>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="indexPage" class="x_title">
        <div class="col-md-3">
            <select-extension ng-model="filter.RoomId"
                              srouce="roomSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="col-md-3">
            <select-extension ng-model="filter.TimeId"
                              srouce="timeSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="col-md-3">
            <input type="text" ng-model="filter.Date"
                   onfocus="(this.type = 'date')" onblur="(this.type='text')"
                   class="form-control" ng-change="loadPage()"
                   placeholder="Chọn ngày chiếu" />
        </div>
        <div class="col-md-3">
            <select-extension ng-model="filter.FilmId"
                              srouce="filmSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="indexPage" class="x_title">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <input type="text" ng-model="filter.PublishedAt"
                   onfocus="(this.type = 'date')" onblur="(this.type='text')"
                   class="form-control" ng-change="loadPage()"
                   placeholder="Chọn ngày bán" />
        </div>
        <div class="col-md-3">
            <select-extension ng-model="filter.SeatTypeId"
                              srouce="seatTypeSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="indexPage" class="x_content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-2">Phim </th>
                    <th>Thông tin vé</th>
                    <th>Thông tin bán </th>
                    <th colspan="2" class="col-md-1 text-center">Công cụ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>
                        <img class="img-thumbnail" ng-src="{{item.Avatar}}" />
                    </td>
                    <td>
                        <p>Mã: {{item.Code}}</p>
                        <p>Phim: {{item.FilmId | getTitle: filmSrouce}}</p>
                        <p>Ngày: {{item.Date | date: 'dd/MM/yyyy'}}</p>
                        <p>Giờ: {{item.TimeId | getTitle: timeSrouce}} </p>
                        <p>Phòng: {{item.RoomId | getTitle: roomSrouce}}</p>
                        <p>Ghế: {{item.SeatTypeId | getTitle: seatTypeSrouce}}</p>
                    </td>
                    <td>
                        <p>Ngày: {{item.PublishedAt | date: 'dd/MM/yyyy'}}</p>
                        <p>Giá: {{item.Price | number}} đồng</p>
                        <p>Số lương: {{item.Quantity}} vế</p>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" href="/admin/#!/ticket/details/{{item.TicketId}}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" ng-click="changeStatus(item.TicketId)">
                            <i ng-show="filter.IsDeleted" class="fa fa-reply"></i>
                            <i ng-show="!filter.IsDeleted" class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="items.length == 0">
                    <td colspan="10" class="text-center">Không có bảng ghi</td>
                </tr>
            </tbody>
        </table>
        <page-btn page-info="pageInfo"
                  load-page="loadPage"
                  ng-model="filter.Page"></page-btn>
    </div>
    <div ng-if="calendarPage" class="x_title">
        <div class="col-md-3">
            <input type="text" ng-model="filter.BeginDate" class="form-control"
                   ng-change="loadPage()"
                   onfocus=" (this.type = 'date') " onblur=" (this.type = 'text') "
                   placeholder="Từ ngày" />
        </div>
        <div class="col-md-3">
            <select-extension ng-model="filter.RoomId"
                              srouce="roomSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="calendarPage" class="x_content" style="overflow-x: auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Phòng</th>
                    <th style="width: 14%" ng-repeat="item in items[0].Dates">{{item.Date | date: 'dd/MM/yyyy'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="room in items">
                    <th>{{room.Code}}</th>
                    <td ng-repeat="date in room.Dates">
                        <div ng-repeat="schedule in date.Schedules">
                            <div style="border-bottom: solid 1px #ddd">
                                <p style="margin: 0 !important">
                                    {{schedule.BeginAt | date : 'HH:mm'}} - {{schedule.EndAt | date : 'HH:mm'}} |
                                    <a href="/admin/#!/ticket/create?roomId={{room.RoomId}}&date={{date.Date | date: 'yyyy-MM-dd'}}&timeId={{schedule.TimeId}}&filmId={{schedule.FilmId}}"><i class="fa fa-plus"></i></a>
                                </p>
                                <a href="/admin/#!/schedule/details/{{ schedule.ScheduleId }}" 
                                   style="cursor: pointer">{{schedule.FilmName}}</a>
                                <p ng-repeat="ticket in schedule.Tickets">
                                    <a href="/admin/#!/ticket/details/{{ticket.TicketId}}?page=calendar">
                                        - {{ticket.Quantity}} vé {{ticket.TicketCode}}
                                    </a> |
                                    <a style="cursor: pointer"
                                       ng-click="changeStatus(ticket.TicketId)">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</container>