﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-show="createPage || editPage"
               ng-click="save()">
                <i class="fa fa-save"></i>
            </a>
            <a class="btn btn-default"
               ng-show="detailsPage && !item.IsDeleted"
               href="/admin/#!/film/edit/{{item.FilmId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-show="detailsPage && item.IsDeleted"
               ng-click="delete()">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-default"
               ng-show="createPage || detailsPage"
               href="/admin/#!/film/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-show="editPage"
               href="/admin/#!/film/details/{{item.FilmId}}"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="text"
                           class="form-control"
                           placeholder="Tên" 
                           ng-model="item.Name">
                    <p class="text-form" ng-show="detailsPage">{{item.Name}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.Name']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh đại diện</label>
                <div class="col-md-8">
                    <up-load ng-show="!detailsPage"
                             ng-model="item.Avatar"></up-load>
                    <div>
                        <img ng-if="item.Avatar != undefined"
                             class="img-thumbnail" ng-src="{{item.Avatar}}">
                        <p style="color:red" ng-repeat="m in msg['model.Avatar']">{{m}}</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Thời gian</label>
                <div class="col-md-8" ng-show="detailsPage">
                    <p class="text-form">{{item.Hour}} giờ {{item.Minute}} phút</p>
                </div>
                <div class="col-md-2" ng-show="!detailsPage">
                    <input type="number"
                           class="form-control"
                           placeholder="Giờ"
                           ng-model="item.Hour">
                </div>
                <div class="col-md-1 text-form" ng-show="!detailsPage">giờ</div>
                <div class="col-md-2" ng-show="!detailsPage">
                    <input type="number"
                           class="form-control"
                           placeholder="Phút"
                           ng-model="item.Minute">
                </div>
                <div class="col-md-1 text-form" ng-show="!detailsPage">phút</div>
                <p style="color:red" ng-repeat="m in msg['model.Hour']">{{m}}</p>
                <p style="color:red" ng-repeat="m in msg['model.Minute']">{{m}}</p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ngày phát hành</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="date"
                           class="form-control"
                           placeholder="Ngày phát hành"
                           ng-model="item.CreatedAt">
                    <p class="text-form" 
                       ng-show="detailsPage">{{item.CreatedAt | date: 'dd/MM/yyyy'}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.CreatedAt']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Thới thiệu</label>
                <div class="col-md-8">
                    <simple-ckeditor ng-show="!detailsPage"
                                     ng-model="item.Review"></simple-ckeditor>
                    <div class="text-form"
                       ng-show="detailsPage"
                       ng-bind-html="item.Review | rawHtml"></div>
                    <p style="color:red" ng-repeat="m in msg['model.Review']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Video giới thiệu</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="text"
                           class="form-control"
                           placeholder="Video giới thiệu"
                           ng-model="item.LinkReview">
                    <div ng-bind-html="item.LinkReview | rawHtml"></div>
                    <p style="color:red" ng-repeat="m in msg['model.LinkReview']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Đạo diễn</label>
                <div class="col-md-8">
                    <select-extension ng-show="!detailsPage"
                                      ng-model="item.DirectorIds"
                                      srouce="artistSrouce"
                                      multiple="true"></select-extension>
                    <p class="text-form" ng-show="detailsPage">{{item.DirectorIds | getTitle: artistSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.DirectorIds']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Diễn viên</label>
                <div class="col-md-8">
                    <select-extension ng-show="!detailsPage"
                                      ng-model="item.ActorIds"
                                      srouce="artistSrouce"
                                      multiple="true"></select-extension>
                    <p class="text-form" ng-show="detailsPage">{{item.ActorIds | getTitle: artistSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.ActorIds']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Lĩnh vực</label>
                <div class="col-md-8">
                    <select-extension ng-show="!detailsPage"
                                      ng-model="item.FieldIds"
                                      srouce="fieldSrouce"
                                      multiple="true"></select-extension>
                    <p class="text-form" ng-show="detailsPage">{{item.FieldIds | getTitle: fieldSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.FieldIds']">{{m}}</p>
                </div>
            </div>
        </div>
    </div>
</container>