﻿<div class="page-title">
    <div class="title_left" style="width: 100%">
        <h3>{{$ctrl.UcName}}</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div ng-transclude></div>
        </div>
    </div>
</div>
