﻿<div class="error-content">
    <div class="top-header span_top">
    </div>
    <div class="error-404 text-center">
        <h2>401</h2>
        <p>Bạn không có quyền truy cập vào chức năng này</p>
        <a class="b-home" href="/">Về trang chủ</a>
    </div>
</div>