﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-if="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-if="detailsPage && !item.IsDeleted"
               href="/admin/#!/artist/edit/{{item.ArtistId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-if="detailsPage && item.IsDeleted"
               ng-click="delete()">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-default"
               ng-if="createPage || detailsPage"
               href="/admin/#!/artist/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-if="editPage"
               href="/admin/#!/artist/details/{{item.ArtistId}}"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên đầu đủ</label>
                <div class="col-md-8">
                    <input ng-if="!detailsPage" type="text" class="form-control" placeholder="Tên" ng-model="item.FullName">
                    <p class="text-form" ng-if="detailsPage">{{item.FullName}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.FullName']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Giới tính</label>
                <div class="col-md-8">
                    <select-extension ng-if="!detailsPage"
                                      ng-model="item.Gender"
                                      srouce="genderSrouce"></select-extension>
                    <p class="text-form" ng-if="detailsPage">{{item.Gender | getTitle: genderSrouce}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.Gender']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh</label>
                <div class="col-md-8">
                    <input ng-if="!detailsPage"
                           type="date"
                           class="form-control"
                           ng-model="item.DateOfBirth">
                    <p class="text-form" ng-if="detailsPage">{{item.DateOfBirth | date: 'dd/MM/yyyy'}}</p>
                    <p style="color:red" ng-repeat="m in msg['model.DateOfBirth']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh đại diện</label>
                <div class="col-md-8">
                    <up-load ng-if="!detailsPage"
                             ng-model="item.Avatar"></up-load>
                    <div>
                        <img ng-src="{{item.Avatar}}"/>
                    </div>
                    <p style="color:red" ng-repeat="m in msg['model.Avatar']">{{m}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Giới thiệu</label>
                <div class="col-md-8">
                    <simple-ckeditor ng-if="!detailsPage"
                                     ng-model="item.Introduction"></simple-ckeditor>
                    <p class="text-form" ng-if="detailsPage" ng-bind-html="item.Introduction | rawHtml"></p>
                    <p style="color:red" ng-repeat="m in msg['model.Introduction']">{{m}}</p>
                </div>
            </div>
        </div>
    </div>
</container>