﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <a ng-if="indexPage" href="/admin/#!/schedule/calendar" style="cursor: pointer"><h2><i class="{{actionIcon}}"></i> {{action}}</h2></a>
            <a ng-if="calendarPage" href="/admin/#!/schedule/index" style="cursor: pointer"><h2><i class="{{actionIcon}}"></i> {{action}}</h2></a>
        </div>
        <div class="col-md-3 text-right">
            <a ng-if="indexPage" class="btn btn-success" href="/admin/#!/schedule/create"><i class="fa fa-plus"></i></a>
            <trash-condition ng-if="indexPage" ng-model="filter.IsDeleted"
                             ng-click="loadPage()"></trash-condition>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="indexPage" class="x_title">
        <div class="col-md-3">
            <select-extension ng-model="filter.RoomId"
                              srouce="roomSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="col-md-3">
            <select-extension ng-model="filter.TimeId"
                              srouce="timeSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="col-md-3">
            <input type="text" ng-model="filter.Date" class="form-control"
                   ng-change="loadPage()"
                   onfocus="(this.type = 'date')" onblur="(this.type='text')"
                   placeholder="Chọn ngày chiếu" />
        </div>
        <div class="col-md-3">
            <select-extension ng-model="filter.FilmId"
                              srouce="filmSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="indexPage" class="x_content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-2">Phim </th>
                    <th>Vị trí </th>
                    <th colspan="2" class="col-md-1 text-center">Công cụ</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>
                        <img class="img-thumbnail" ng-src="{{item.Avatar}}" />
                    </td>
                    <td>
                        <p>Phim: {{item.FilmId | getTitle: filmSrouce }}</p>
                        <p>Ngày: {{item.Date | date: 'dd/MM/yyyy'}}</p>
                        <p>Giờ: {{item.TimeId | getTitle: timeSrouce }} </p>
                        <p>Phòng: {{item.RoomId | getTitle: roomSrouce }}</p>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" href="/admin/#!/schedule/details/{{ item.ScheduleId }}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a style="cursor: pointer" ng-click="changeStatus(item.ScheduleId)">
                            <i ng-show="filter.IsDeleted" class="fa fa-reply"></i>
                            <i ng-show="!filter.IsDeleted" class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                <tr ng-if="items.length == 0">
                    <td colspan="10" class="text-center">Không có bảng ghi</td>
                </tr>
            </tbody>
        </table>
        <page-btn page-info="pageInfo"
                  load-page="loadPage"
                  ng-model="filter.Page"></page-btn>
    </div>
    <div ng-if="calendarPage" class="x_title">
        <div class="col-md-3">
            <input type="text" ng-model="filter.BeginDate" class="form-control"
                   ng-change="loadPage()"
                   onfocus=" (this.type = 'date') " onblur=" (this.type = 'text') "
                   placeholder="Từ ngày"/>
        </div>
        <div class="col-md-3">
            <select-extension ng-model="filter.RoomId"
                              srouce="roomSrouce"
                              ng-change="loadPage()">
            </select-extension>
        </div>
        <div class="clearfix"></div>
    </div>
    <div ng-if="calendarPage" class="x_content" style="overflow-x: auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Phòng</th>
                    <th style="width: 14%" ng-repeat="item in items[0].Dates">{{item.Date | date: 'dd/MM/yyyy'}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="room in items">
                    <th>{{room.Code}}</th>
                    <td ng-repeat="date in room.Dates">
                        <div ng-repeat="time in date.Times">
                            <div ng-if="time.FilmId === 0">
                                <p style="margin: 0 !important">{{time.BeginAt | date : 'HH:mm'}} - {{time.EndAt | date : 'HH:mm'}} |
                                    <a href="/admin/#!/schedule/create?date={{(date.Date | date: 'yyyy-MM-dd')}}&roomId={{room.RoomId}}&timeId={{time.TimeId}}&page=calendar"><i class="fa fa-plus"></i></a></p>
                            </div>
                            <div ng-if="time.FilmId !== 0" style="border-bottom: solid 1px #ddd">
                                <p style="margin: 0 !important">{{time.BeginAt | date : 'HH:mm'}} - {{time.EndAt | date : 'HH:mm'}} | <a style="cursor: pointer" ng-click="changeStatus(time.ScheduleId)"><i class="fa fa-trash"></i></a></p>
                                <a href="/admin/#!/schedule/details/{{ time.ScheduleId }}" style="cursor: pointer">{{time.FilmName}}</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</container>