﻿<div style="position: relative" click-outside="$ctrl.hideSelect()">
    <div style="cursor: pointer; border: 1px solid black; padding: 4px 10px;" ng-click="$ctrl.toggleSelect()">
        {{$ctrl.displayTitle()}}
        <i style="float: right" class="fa fa-sort-down"></i>
    </div>
    <div class="{{$ctrl.showSelect ? '' : 'hidden' }}"
         style="border: solid 1px #cccccc;
                margin-top: 2px;
                position: absolute;
                background-color: #fff;
                z-index: 1000;
                width: 100%;
                max-height: 250px;
                overflow: auto;"
         >
        <div ng-if="$ctrl.searchBox">
            <input type="text" ng-model="$ctrl.text" style="width: 100%;border: none;
    border-bottom: solid 1px #000;
    padding: 3px 7px;" placeholder="Tìm kiếm"/>
        </div>
        <ul style="list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;
                    color: #555555;"
            >
            <li ng-repeat="item in $ctrl.srouce.Items | filter: $ctrl.text"
                class="li-option"
                ng-click="$ctrl.selectOrUnselect(item[$ctrl.srouce.Value])"
                style="width: 97%; cursor: pointer">
                {{item[$ctrl.srouce.Title]}}
                <i style="float: right"
                   class="{{(!$ctrl.multiple && $ctrl.ngModel === item[$ctrl.srouce.Value]) || ($ctrl.multiple && $ctrl.ngModel.length != undefined && $ctrl.ngModel.indexOf(item[$ctrl.srouce.Value]) != -1) ? 'fa fa-check' : ''}}"></i>
            </li>
        </ul>
    </div>
</div>