﻿<div class="error-content">
    <div class="top-header span_top">
    </div>
    <div class="error-404 text-center">
        <h2>404</h2>
        <p>Xin lỗi, hệ thống không tìm thấy dữ liệu bạn cần</p>
        <a class="b-home" href="/">Về trang chủ</a>
    </div>
</div>