﻿<container>
    <div class="x_title">
        <div class="col-md-9">
            <h2><i class="{{actionIcon}}"></i> {{action}}</h2>
        </div>
        <div class="col-md-3 text-right">
            <a class="btn btn-success"
               ng-if="createPage || editPage"
               ng-click="save()"><i class="fa fa-save"></i></a>
            <a class="btn btn-default"
               ng-if="detailsPage && !item.IsDeleted"
               href="/admin/#!/user/edit/{{item.UserId}}">
                <i class="fa fa-edit"></i>
            </a>
            <a class="btn btn-danger"
               ng-if="detailsPage && item.IsDeleted"
               ng-click="delete()">
                <i class="fa fa-trash"></i>
            </a>
            <a class="btn btn-default"
               ng-if="createPage || detailsPage"
               href="/admin/#!/user/index">
                <i class="fa fa-list"></i>
            </a>
            <a class="btn btn-default"
               ng-if="editPage"
               href="/admin/#!/user/details/{{item.UserId}}"><i class="fa fa-reply"></i></a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">Tên tài khoản</label>
                <div class="col-md-8">
                    <input ng-show="createPage"
                           type="text"
                           class="form-control"
                           placeholder="Tên tài khoản"
                           ng-model="item.UserName">
                    <p ng-show="!createPage" class="text-form">{{item.UserName}}</p>
                </div>
            </div>
            <div class="form-group" ng-show="createPage">
                <label class="control-label col-sm-2">Mật khẩu</label>
                <div class="col-md-8">
                    <input type="password"
                           class="form-control"
                           placeholder="Mật khẩu"
                           ng-model="item.Password">
                </div>
            </div>
            <div class="form-group" ng-show="createPage">
                <label class="control-label col-sm-2">Xác nhận mật khẩu</label>
                <div class="col-md-8">
                    <input type="password"
                           class="form-control"
                           placeholder="Xác nhận mật khẩu"
                           ng-model="item.Confirm">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Tên người dùng</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="text"
                           class="form-control"
                           placeholder="Tên người dùng" 
                           ng-model="item.FullName">
                    <p class="text-form" ng-show="detailsPage">{{item.FullName}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Giới tính</label>
                <div class="col-md-8">
                    <select-extension ng-show="!detailsPage"
                                      ng-model="item.Gender"
                                      srouce="genderSrouce">
                    </select-extension>
                    <p class="text-form" ng-show="detailsPage">{{item.Gender | getTitle: genderSrouce }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ngày sinh</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="date"
                           class="form-control"
                           placeholder="Tên"
                           ng-model="item.DateOfBirth">
                    <p class="text-form" 
                       ng-show="detailsPage">{{item.DateOfBirth | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Số điện thoại</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="tel"
                           class="form-control"
                           placeholder="Số điện thoại"
                           ng-model="item.Phone">
                    <p class="text-form" ng-show="detailsPage">{{item.Phone}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Email</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="email"
                           class="form-control"
                           placeholder="Email"
                           ng-model="item.Email">
                    <p class="text-form" ng-show="detailsPage">{{item.Email}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Ảnh đại diện</label>
                <div class="col-md-8">
                    <up-load ng-show="!detailsPage"
                             ng-model="item.Avatar"></up-load>
                    <div>
                        <img ng-if="item.Avatar != undefined"
                             class="img-thumbnail col-md-4" ng-src="{{item.Avatar}}">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Địa chỉ</label>
                <div class="col-md-8">
                    <input ng-show="!detailsPage"
                           type="text"
                           class="form-control"
                           placeholder="Địa chỉ" ng-model="item.Address">
                    <p class="text-form" ng-show="detailsPage">{{item.Address}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Quyền</label>
                <div class="col-md-8">
                    <select-extension ng-show="!detailsPage"
                                      ng-model="item.RoleIds"
                                      srouce="roleSrouce"
                                      multiple="true"></select-extension>
                    <p class="text-form" ng-show="detailsPage">{{item.RoleIds | getTitle: roleSrouce}}</p>
                </div>
            </div>
        </div>
    </div>
</container>